<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.shopster.shopster_delivery_client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shopster_deliver"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/ShopsterNavigationDrawerTheme" />
        <activity
            android:name=".ShopsterNavigationDrawer"
            android:theme="@style/ShopsterNavigationDrawerTheme" />
        <activity
            android:name=".activities.DynamicApiHostConfigActivity"
            android:label="@string/title_activity_dynamic_api_host_config"
            android:theme="@style/ShopsterNavigationDrawerTheme" />

    </application>

</manifest>
